# PROJET BAN IS THE NEW NO

data disponible sur kaggle : 
https://www.kaggle.com/rahulgoel1106/hatred-on-twitter-during-metoo-movement

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pip install emoji --upgrade

Requirement already satisfied: emoji in /home/vruccio/.pyenv/versions/3.8.12/envs/project_BAN/lib/python3.8/site-packages (1.6.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
data = pd.read_csv("MeTooHate.csv")
df = data.copy()

In [4]:
print(data.shape)

(807174, 10)

In [5]:
df.head()

,status_id,text,created_at,favorite_count,retweet_count,location,followers_count,friends_count,statuses_count,category
0,1046207313588236290,"Entitled, obnoxious, defensive, lying weasel. ...",2018-09-30T01:17:15Z,5,1,"McAllen, TX",2253,2303,23856,0
1,1046207328113086464,Thank you and for what you did for the women...,2018-09-30T01:17:19Z,5,2,"Tampa, FL",2559,4989,19889,0
2,1046207329589493760,Knitting (s) &amp; getting ready for January 1...,2018-09-30T01:17:19Z,0,0,"St Cloud, MN",16,300,9,0
3,1046207341283168256,Yep just like triffeling women weaponized thei...,2018-09-30T01:17:22Z,1,0,flyover country,3573,3732,38361,1
4,1046207347016826880,"No, the President wants to end movement posin...",2018-09-30T01:17:23Z,0,0,World,294,312,7635,0

# Data preparation

In [6]:
print(df.shape)

(807174, 10)

In [7]:
#duplicated data
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
807169    False
807170    False
807171    False
807172    False
807173    False
Length: 807174, dtype: bool

In [8]:
#missing data
df.isnull().sum().sort_values(ascending=False)/len(data)*100

location           23.634062
text                0.438072
status_id           0.000000
created_at          0.000000
favorite_count      0.000000
retweet_count       0.000000
followers_count     0.000000
friends_count       0.000000
statuses_count      0.000000
category            0.000000
dtype: float64

In [9]:
print(df['text'].isna().sum())
print(df['location'].isna().sum())

3536
190768

# Investigate classification

In [10]:
tp_df = []
tp_df = df.loc[df['category'] == 1]
tp_df.shape

(95334, 10)

In [11]:
tp_df.head(100)

,status_id,text,created_at,favorite_count,retweet_count,location,followers_count,friends_count,statuses_count,category
3,1046207341283168256,Yep just like triffeling women weaponized thei...,2018-09-30T01:17:22Z,1,0,flyover country,3573,3732,38361,1
7,1046207412246478848,"Save it for Fox Fake News‚Äîwatched by racists, ...",2018-09-30T01:17:39Z,0,0,NaN,718,1648,16113,1
49,1046208365624344577,As a white male in this era I'm just scared t...,2018-09-30T01:21:26Z,0,0,"Santa Monica, CA",387,203,1670,1
57,1046208497723949056,I heard that received some Shush/Slush mone...,2018-09-30T01:21:58Z,0,0,NaN,1,28,489,1
60,1046208589277343744,"If she hasn't, it's because of people like ...",2018-09-30T01:22:19Z,0,0,"Georgia, USA",111,224,1719,1
...,...,...,...,...,...,...,...,...,...,...
712,1046227020164694016,Im so tired of the shit show and the have tu...,2018-09-30T02:35:34Z,0,0,United States,390,448,14060,1
715,1046227052762984448,We are all trying to break the movement. So s...,2018-09-30T02:35:41Z,0,0,"Spring, TX",303,197,15698,1
718,1046227132697972736,Album:,2018-09-30T02:36:01Z,0,0,"New Jersey, USA",42496,2122,68909,1
724,1046227255741964290,How would evangelicals and FOX react if instea...,2018-09-30T02:36:30Z,1,1,NaN,2142,3950,20538,1
729,1046227486449664000,Wait wut?\n\n &amp; want to damn author/profe...,2018-09-30T02:37:25Z,1,1,"Paradise Valley, AZ",23,102,617,1

In [12]:
pd.set_option('max_colwidth', None)
tp_df.iloc[[0],[1]]

                                                                                                                                                                                                 text
3  Yep just like triffeling women weaponized their poon!! Wonder if Kamala Harris ever extorted Willy Brown after throwing the poon on him, oh yeh, that how she got her first job me too is a JOKE!

In [13]:
tp_df.iloc[[1],[1]]

                                                                                                                                                                                                                                                                                     text
7  Save it for Fox Fake News‚Äîwatched by racists, bigots &amp; other women-hating sexists like yourself. GOP is the party of Putin &amp; the party of Hate‚Äîbesides women, GOP hates all POC, immigrants, and all ppl not straight. You‚Äôre the party of the entitled lying whiny white men.

In [14]:
tp_df.iloc[[2],[1]]

                                                                                                                                                                               text
49  As a white male in this  era I'm just scared that if I decide to rape or sexually assault a woman, it can be used against me years later. How am I supposed to ask a girl out?!

In [15]:
tp_df.iloc[[3],[1]]

                                                                                                                                          text
57    I heard that  received some Shush/Slush money to settle rape charges by her aide who said she just could not remember where or when. . .

In [16]:
tp_df.iloc[[4],[1]]

                                                                                                                                                                                                                                                                           text
60     If she hasn't, it's because of people like you shaming her! How dare you tell her how she is or should be feeling! That is why I HATE  the  movement. Along with all of the other movements! You rape these people to further a political objective! You are despicable!

In [17]:
tp_df.iloc[[5],[1]]

                                                                                                                                                                                                                                  text
63   Oh poor girl. You should have stayed disney star all your life. Because now you are being eaten by the industry. And in few years when your popularity falls, you will come with some  bs like other forgoten women in hollywood.

In [18]:
tp_df.iloc[[6],[1]]

                                                                                                                                                                                                                                  text
64  When  was just gaining momentum, a female friend of mine who was pregnant with her daughter said ‚Äúwhat‚Äôs the big deal?  I‚Äôve been raped‚Äù.  My response was ‚Äú You know I disagree with you üíØ ‚Äú. How do you respond?  I was shocked!

In [19]:
# df cat√©gorie 1 - cleaning
new_df = tp_df[['text']].dropna()

# EXPLORATION DE FILTRES

Trouver des filtres √† appliquer sur la cat√©gorie 1.  
*specific Emojis 
*"!!!" r√©p√©t√©s - voir aussi "????" et ".........." et aussi '?!?!?!" 
*Majuscules sur plusieurs mots

Autre piste : 
*Insultes
*des expressions d√©finies comme "Rot in HELL"
*tailles des texts + longs sont constructifs ? vs haineux + court ?

==> cumuler l'ensemble peut permettre d'identifier les texts vraiments haineux et non que n√©gatifs
rappel : "GRRRRRR" c'est utilis√© en anglais ?

## EMOJIS

In [20]:
#Checker le contenu des texts pr s√©lectionner les √©mojis les + impactants - voir methodo dans explo_emoji_cat_1

rslt_emo_1 = tp_df.loc[(tp_df['text'].str.count('FUCK')>= 1)]
rslt_emo_1['text']

623                                                                                                                                                                                                                   FUCK YEAH!!! TY !!! WE LOVE U!!! üíôüòôü§óüíôüòôü§óüíôüòôü§ó
887                                                                                                      A FUCK'N SHAM &amp; UNACCEPTABLE ü§¨\n\nTHIS SHOULD BE REJECTED AUTOMATICALLY BY THE COMPLETE DEMOCRATIC CAUCUS!\nPERIOD.\nFULL STOP!!\n\n\n\n\n\n\n\n\n\n\n\n
1103                                                                                                                                              If you‚Äôre worried about anything like this when sexual assault‚Äôs are brought to light. Stay the FUCK away from me.
1255                                                                                                                            AMERICANS     (Still Part=   Moles)?  A YOUNG MAN, Who Raped     Nightly entertainment  young Girls?   them?  NO FUCKING WAY=    Yeal
1923                                                                                                                                                                                                                               I AM IN A MOOD DONT FUCK WITH ME
                                                                                                                                     ...
793744                                        AND JESUS FUCKING CHRIST. FILTHY SCUMBAG MEN FINALLY BEING HELD ACCOUNTABLE (to some extent) FOR THEIR DISGUSTING PREDATORY BEHAVIOUR IS. A. GOOD. THING. Idc HOW many companies use  in ad campaigns to make a profit.
795137                                                                                                     Hollywood‚Äôs answer to a question NO ONE FUCKING ASKED!\n\n‚ÄúShould we reboot a classic comedy, yet make it edgy by tailoring it for today‚Äôs  movement?‚Äù\n\n
795810    dont believe in music/acting/directing/governing ‚Äúgeniuses‚Äù or ‚Äúgurus‚Äù or ‚Äúmasters‚Äù most will b shown 4 what they r: manipulators of power &amp; glorified abusers that our systems hav allowed 2 put down any1 who didnt bow 2 their sexual demands   FUCK
797752                                                                                                                                                                                FUCK THESE ASSHOLES TOO \n\nRETWEET, BRING FURTHER AWARENESS, SIGNAL BOOST \n\n
800187              we are seeing you on Sunday -  steer clear of the shrieking  ‚Äòs -  I seriously wonder who the FUCK  pissed off.  Throwing an underground pop artist under the bus like this? I mean Jesus Lizard can go untouched but RYAN ADAMS gets popped off?
Name: text, Length: 598, dtype: object

# Ticket

In [21]:
emoji_df.head()

NameError: name 'emoji_df' is not defined

In [ ]:
tp_df.head(1)

In [ ]:
col_summury_emoji = []
col_summury_emoji_plot = [] #pr faire le plot

for index, tweet in enumerate(new_df.text):
    summury_emoji = []
    summury_emoji_plot = [] #pr faire le plot
    
    for emoji in list(emoji_df.emoji):
        summury_emoji_plot.append(tweet.count(emoji)) #quoi qu'il arrive ajout du count mm √† zero
    
        if tweet.count(emoji) > 0 :
            tuple_emoji = (emoji, tweet.count(emoji))
            summury_emoji.append(tuple_emoji)
            
    col_summury_emoji.append(summury_emoji)
    col_summury_emoji_plot.append(summury_emoji_plot)

In [ ]:
new_df['emoji_check'] = col_summury_emoji
new_df['emoji_check_plot'] = col_summury_emoji_plot

new_df

In [ ]:
new_df['emoji_check']

In [ ]:
sum_emoji = new_df['emoji_check_plot'].sum(axis=0)
sum_emoji

In [ ]:
from matplotlib import pyplot as plt
emoji_list = list(emoji_df.emoji)
plt.bar(feature_list, sum_emoji)
plt.show()

In [ ]:
list_test = [('üíö', 1), ('üå±', 1), ('üó∫Ô∏è', 1), ('üó∫', 1)]

In [ ]:
[i[0] for i in list_test]

In [ ]:
list(emoji_df.emoji)

In [ ]:
emoji_test_1 = tp_df.loc[(tp_df['text'].str.count('üò°üò°') >= 1)]
emoji_test_1.text.count()

In [ ]:
#emoji_test_1.text pr verifier le contenu si besoin

In [ ]:
emoji_test_2 = tp_df.loc[(tp_df['text'].str.count('ü§¨') >= 1)]
emoji_test_2.text.count()

In [ ]:
#emoji_test_2.text pr v√©rifier le contenu si besoin

In [ ]:
emoji_test_3 = tp_df.loc[(tp_df['text'].str.count('üñï') >= 1)]
emoji_test_3.text.count()

In [ ]:
#emoji_test_3.text pour v√©rifier le contenu si besoin

In [ ]:
emoji_test_3 = tp_df.loc[(tp_df['text'].str.count('üò°') >= 1)]
emoji_test_3.text.count()

## PONCTUATION

In [22]:
tp_df['text'].str.count('!').value_counts()

0.0      78612
1.0       8959
2.0       3628
3.0       1816
4.0        901
5.0        485
6.0        290
7.0        130
8.0         85
9.0         57
10.0        38
11.0        37
12.0        17
13.0        13
16.0         6
14.0         6
17.0         4
23.0         3
15.0         3
18.0         3
22.0         3
24.0         2
34.0         1
52.0         1
115.0        1
61.0         1
Name: text, dtype: int64

In [23]:
#pr√©sence !! = sup√©rieur √† 13 fois dans un text. 
rslt_df = tp_df.loc[(tp_df['text'].str.count('!') > 13)]
rslt_df.count()
# √ßa traduit de l'agressivit√© sans forc√©ment etre syst√©matiquement irrespectueux

status_id          34
text               34
created_at         34
favorite_count     34
retweet_count      34
location           25
followers_count    34
friends_count      34
statuses_count     34
category           34
dtype: int64

In [ ]:
rslt_df

In [ ]:
rslt_df_10 = tp_df.loc[(tp_df['text'].str.count('!!') == 5)]
rslt_df_10.count()

In [ ]:
rslt_df_10

In [ ]:
# Exemple √† discuter ensemble : 
# More power to you, girl!!!!!!! Always with you!!!! üëåüí™üëçüëäüí•üï∂    
# Going to sleep in a couple of hours so I can be at the polls 1st thing in the am!! Hee hee...\nI'm stoked my fellow sane Americans!!!! \nThis is IT...!!!!\nFuck the polls, I am feeling really good vibes üíôüíôüåä\n\n       
# is was a bomb ass day!! Spiritually, financially and mentally!! üçæüéäü•Ç manifestation is REAL!!!! 12-21üí´ BY FAR THE BEST DAY OF 2018!! 2019 LEGGOüíÉüèΩüíÉüèΩüìø        üí´

In [24]:
rslt_df_5= tp_df.loc[(tp_df['text'].str.count('!!!!!') >= 1)]
rslt_df_5.count()

status_id          247
text               247
created_at         247
favorite_count     247
retweet_count      247
location           177
followers_count    247
friends_count      247
statuses_count     247
category           247
dtype: int64

In [25]:
rslt_df_5['text'].head(20)

200                                                                                                                                                      BELIEVE HER!!!!!!!!!!!!!!!!!!!!!!!!!!!!  !!!!!!!!!!!!!!!! BELIEVE BELIEVE BELIEVE!!!!!!!!  \n\nYou fucking hypocrite loser
12662                                                                                    This should tell every Victim and Women...The ‚Äú Good Ole (White) Boys Club‚Äù needs to go!  Is Women you don‚Äôt have ‚Äútime‚Äù for wile rule your old ass come November!  We will be heard!!!!!
13577                                                                                                                                                                     Watching  and some windbag is suggesting goes against  movement?! *shakes head* For FUCK'S SAKE!!!!! X x x
18770                                                                                                                                                                                                                                                   Souless bitch!!!!!\n
22800                                                                                                                                                  Um, this man should not be a judge period!!!!!!   Kavanaugh College Visit to Bar Erupted in Fight, Classmate Says - Bloomberg
28025                                                                                                                                                                                                                I DEMAND THIS PIG OUT OF OFFICE!!!!!   Where ya at  I'll wait..
32360                                                                                                                                                                                                                                                   where are you for her!!!!!!üò°
33768                                                                                                                      I hate all the women who look at my bulge in my sweatpants. I feel so eye molested. Just thinking about it makes me want to go shower. So disgusting!!!!!
35337                                                                                                                                                                                      I don't know about anybody else but I'm getting sick of this shit!!!!!\n\n \n \n \n \n \n
35777              This is why we don't tell!!!!! It took me 20yrs to tell my mom what happened when I was 7yrs old, then when I told his parents and my gma, they didn't believe me my grandma blamed me said I seduced my cousin and her husband how does a 7yr old even do that.
39897                                                                                                                                                                                         i'm!!!!! fucking!!!!! pissed!!!!! off!!!!!!!!! I HAVE SO MUCH FUCKING RAGE!!!!!!!!!!
40698                                                                                                                                                                                                                            THIS IS WHY NOONE SPEAKS UP YOU FUCKING PRICK!!!!!
41343                                                                                                                                                                      STOP LETTING HIM DO COCAINE BEFORE RALLIES AND HE WON'T SAY SUCH STUPID SHIT!!!!! Jk... he still would.
47881                            Former TV News journalist Connie Chung comes forward as a victim of sexual assault! Like Prof. Blasey Ford, she too can‚Äôt remember certain details of the assault but she will never forgot who did it &amp; the scar it left on her life!!!!!
48206                                                                                                                                                                           Jesus fucking christ. Vote those fucking liver spotted assholes out!!!!!!!!!!!!!!!!!!!!!!!!üò°üò°üò°üò°üò°üò°üò°üò°
50037                                                   I AM GOING TO PRAY FOR THEM ALL!!!!!  BECAUSE THEY ARE IN A CULT....I PRAY THAT THESE WOMEN NEVER HAVE TO GO THROUGH THE DRAMA AND PAIN WITH THEIR DAUGHTER,MOTHER SISTER, NIECE OR SONS. THAT DR. FORD AND OTHERS  ENDURED.
51885                                                                                                                    should stop talking and vote NO. Your words are hollow. Be a man and a patriot. Do your damn job. You‚Äôre putting party and a grifter over people!     !!!!!
52030    I STAND WITH JUDGE KAVANAUGH. BUT HEAR ME OUT. \n\nJust because one woman falsely accuses, DOESN‚ÄôT mean all women are lying!!!!  \nBut me siding with Judge K over the facts, does NOT MEAN I‚Äôm against women‚Äôs movement. PERIOD!!!!!!! NO ONE can tell me MY own feelings!
54181                                                                                                                                                                                                                                   I cried.  Thank you for ALL that you do!!!!!
57211                                                                 WTF I‚Äôm APPALLED!!!!! Like this is the filth that‚Äôs supposed to be representing the US????? I‚Äôm ashamed for our country, I‚Äôm ashamed for all those people cheering at someone else‚Äôs misery, it‚Äôs a DAMN SHAME
Name: text, dtype: object

In [ ]:
# pk √ßa ne prend pas en compte ... et ???
rslt_df_10= tp_df.loc[(tp_df['text'].str.count('grrr') >= 1)]
rslt_df_10.text